<div class="scoreboard-list-row">
  <p class="scoreboard-list-username"><span class="scoreboard-list-place"><%= place + 1 %>. </span><%= username %></p>
  <p class="scoreboard-list-score"><%= score %></p>
</div>