body {
  background-color: navy;
  margin: 0;
  padding: 0;
}

#first-target {
  width: 50px;
  height: 50px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.target {
  width: 50px;
  height: 50px;
}