html, body {
  background-color: #2b2b2b;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;

  font-optical-sizing: auto;
  font-weight: 400;
}

* {
  font-family: "Roboto Mono", monospace;
}

.styled-button {
  color: #f6e6c8;
  background-color: #2b2b2b;
  border: 3px solid #f6e6c8;
  padding: 10px 15px;
  cursor: pointer;
}

.styled-button:hover {
  border-color: #F88B3D;
  color: #f66e0d;
  background-color: #543825;
  cursor: pointer;
}

.header {
  background-color: #2b2b2b;
  height: 100px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

#timer {
  margin: 0; 
  color: #f6e6c8;
  margin-left: 30px;
  margin-right: 20px;
}

#counter {
  margin: 0;
  color: #f6e6c8;
}

#right-header-items {
  margin-left: auto;
}

#end-game-button {
  padding: 5px 10px;
  font-size: 18px;
  border-width: 3px;
}

#end-game-button:hover {
  border-width: 3px;
}

#gear-icon {
  margin-left: 20px;
  margin-right: 30px;
  background-color: #2b2b2b;
  border: none;
  color: #f6e6c8;
  transform: scale(2)
}

#gear-icon:hover {
  color: #F88B3D;
}

.header-number {
  color: #f66e0d;
  font-size: 27px;
  margin-left: 10px;
  vertical-align: -2px;
}

#game-window {
  flex-grow: 1;
  background-color: #313131;
  margin: 30px;
  margin-top: 0px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

#end-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

.target {
  position: relative;
  transform: translate(-50%, -50%);
  margin: 10px;
  border-radius: 50%;
  border: none;
  background-color: #f6e6c8;
}

.hidden {
  display: none;
}

.game-end-modal{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #2b2b2b;
  color: #f6e6c8;
  border-radius: 5px;
  font-size: 20px;
  padding: 30px;
  z-index: 1010;
}

.end-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.end-modal-container > h1 {
  margin: 0;
}

.end-modal-container button {
  font-size: 20px;
  border-width: 3px;
  margin: 5px; 
}

#game-end-modal-middle-buttons {
  flex-direction: row;
}

#game-end-modal-middle-buttons > button {
  margin-left: 0;
  margin-right: 0;
}

#save-score-modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1015;
}

#save-score-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #2b2b2b;
  color: #f6e6c8;
  border-radius: 5px;
  font-size: 20px;
  padding: 20px;
  z-index: 1020;
}

.save-score-buttons {
  display: block;
  margin: 20px auto 0;
}

.scoreboard-modal {
  height: 75%;
  width: 40%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  background-color:#313131;
  position: fixed;
  border-radius: 10px;
  border-width: 3px;
  border-style: initial;
  font-size: 10px;
  padding: 5px 10px 5px 10px;
  z-index: 1010;
}

.final-score{
  font-size: 50px;
  color: #f66e0d;
}

.start-round-button {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f6e6c8;
  background-color: #313131;
  padding: 10px 15px;
  font-size: 25px;
  border: #f6e6c8 5px solid;
}

.start-round-button:hover{
  border: #F88B3D 5px solid;
  color: #f66e0d;
  background-color: #583D2A;
}

#title-header{
  border-style:solid;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  height:10%;
  width:80%;
  font-size:40px;
  border-radius: 10px;
  border-color:#2b2b2b;
  background-color:#2b2b2b;
  color:#f66e0d;
}

#scoreboard{
  position: absolute;
  top: 70%;             
  left: 50%;            
  transform: translate(-50%, -50%); 
  width:90%;
  height: 45%;
  border-style:solid;    
  border-radius: 8px;
}

#close-scoreboard-button{
  width:10%;
  height:10%;
  position: absolute;
  top:4%;
  right:4%;
}

#play{
  position:absolute;
  width:33%;
  height:10%;
  bottom:15%;
  right:10%;
}

.settings-modal{
  height: 75%;
  width: 40%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  background-color:#313131;
  color:#f66e0d;
  position: fixed;
  border-radius: 10px;
  border-width: 3px;
  border-style: initial;
  border-color: rgb(44, 44, 255);
  font-size: 30px;
  padding: 5px 10px 5px 10px;
  z-index: 1010;
}

.difficulty-input-container{
  display:flex;
  position:absolute;
  width: 75%;
  left:30%;

  transform: translate(-50%, -50%);
  top: 35%;
  justify-content: center;
  border-radius: 10px;
}

.difficulty-input{
  width:100px;
  position:relative;
  left:10px;
}

#difficulty-scoreboard{
  font-size: 150%;
  color:#f66e0d;
}

#scoreboard-difficulty{
  border-style:solid;
}

.Personal-container{
  position:absolute;
  left:25%;
  top: 25%;
}

.Global-container{
  position:absolute;
  left: 60%;
  top: 25%;

}

.timer-container{
  display:flex;
  position:absolute;
  width: 25%;
  top:33%;
  left:55%;
}

#filter-timer{
  font-size:200%;
}

#Filter{
  position:absolute;
  top:40%;
  left:37%;
}

.timer-container-setting{
  display:flex;
  position:absolute;
  width: 25%;
  top:150%;
}
