html, body {
  background-color: #2b2b2b;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;

  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
}

.header {
  background-color: #2b2b2b;
  height: 100px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

#timer {
  margin: 0; 
  color: #f6e6c8;
  margin-left: 30px;
  margin-right: 20px;
}

#counter {
  color: #f6e6c8;
}

.header-number {
  color: #f66e0d;
  font-size: 27px;
  margin-left: 10px;
  vertical-align: -2px;
}

#game-window {
  flex-grow: 1;
  background-color: #313131;
  margin: 30px;
  margin-top: 0px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

#first-target {
  width: 50px;
  height: 50px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#end-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

.target {
  position: relative;
  transform: translate(-50%, -50%);
  margin: 10px;
  border-radius: 50%;
  border: none;
  background-color: #f6e6c8;
}

.hidden {
  display: none;
}

.game-end-modal{
  height: 75%;
  width: 40%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  background-color: white;
  color: navy;
  position: fixed;
  border-radius: 10px;
  border-width: 3px;
  border-style: initial;
  border-color: rgb(44, 44, 255);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 10px 5px 10px;
  z-index: 1010;
}

.game-begin-modal {
  height: 75%;
  width: 40%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  background-color: white;
  color: navy;
  position: fixed;
  border-radius: 10px;
  border-width: 3px;
  border-style: initial;
  border-color: rgb(44, 44, 255);
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 10px 5px 10px;
  z-index: 1010;
}

.start-round-button:hover{
  cursor: pointer;
}

.end-button{
  background-color: rgb(1, 1, 97);
  color: white;
  border-radius: 5px;
  padding: 5px 3px 5px 3px;
  width: 250px;
  height: 60px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.end-button:hover{
  cursor: pointer;

}

.final-score{
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.start-round-button {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 20px 40px;
font-size: 24px;
border-radius: 12px;
}

/* Everthing Under is what I've done*/

#title-header{
  border-style:solid;
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  top:5%;
  left: 50%;
  transform: translate(-50%, -50%);
  height:70px;
  width:400px;
  font-size:40px;
  border-radius: 10px;
}

#scoreboard{
  position: fixed;      
  top: 50%;             
  left: 50%;            
  transform: translate(-50%, -50%); 
  width: 400px;         
  height: 400px;    
  border-style:solid;    
  border-radius: 8px;
}

#play-button{
  width:300px;
  height:70px;
  font-size:50px;
  position: relative;
  top: 550px;
  margin-top: 5px;
}

#play-button:hover{
  cursor: pointer;
}

#gear{
  position:absolute;
  bottom:50px;
  right:60px;
  background-color: white;
  width:30px;
  height:30px;
  transform: scale(2.5);
  border-radius: 5px;
}

#gear:hover{
  background-color: black;
  color:white;
  cursor: pointer;
}
/* */
.settings-modal{
  height: 75%;
  width: 40%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  background-color: white;
  color: navy;
  position: fixed;
  border-radius: 10px;
  border-width: 3px;
  border-style: initial;
  border-color: rgb(44, 44, 255);
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 10px 5px 10px;
  z-index: 1010;
}

.main-menu-button{
  background-color: rgb(1, 1, 97);
  color: white;
  border-radius: 5px;
  padding: 5px 3px 5px 3px;
  width: 300px;
  height: 75px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  position:absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-menu-button:hover{
  cursor: pointer;
}

.difficulty-input-container{
  display:flex;
  position:absolute;
  width:200px;
  left:50%;
  transform: translate(-50%, -50%);
  top:35%;
}

.difficulty-input{
  position:relative;
  left:10px;
}

