body {
  background-color: navy;
  margin: 0;
  padding: 0;
  display: flex;
}

.header {
  width: 100%;
  height: 15vh;
  background-color: navy;
  text-align: center;
}

#timer {
  margin: 0; 
  margin-top: 15px;
  color: white;
}

#counter {
  color: white;
}

#game-window {
  position: absolute;
  background-color: navy;
  width: 100vw;
  height: 85vh;
  top: 15vh;
}

#first-target {
  width: 50px;
  height: 50px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#end-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

.target {
  position: relative;
  transform: translate(-50%, -50%);
  margin: 10px;
  border-radius: 50%;
}

.hidden {
  display: none;
}

.game-end-modal{
  height: 75%;
  width: 40%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  background-color: white;
  color: navy;
  position: fixed;
  border-radius: 10px;
  border-width: 3px;
  border-style: initial;
  border-color: rgb(44, 44, 255);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 10px 5px 10px;
  z-index: 1010;
}

.game-begin-modal {
  height: 75%;
  width: 40%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  background-color: white;
  color: navy;
  position: fixed;
  border-radius: 10px;
  border-width: 3px;
  border-style: initial;
  border-color: rgb(44, 44, 255);
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 10px 5px 10px;
  z-index: 1010;
}

.start-round-button:hover{
  cursor: pointer;
}

.end-button{
  background-color: rgb(1, 1, 97);
  color: white;
  border-radius: 5px;
  padding: 5px 3px 5px 3px;
  width: 250px;
  height: 60px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.end-button:hover{
  cursor: pointer;

}

.final-score{
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.start-round-button {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 20px 40px;
font-size: 24px;
border-radius: 12px;
}

/* Everthing Under is what I've done*/

#title-header{
  border-style:solid;
  font-size:40px;
  border-radius: 10px;
}

#scoreboard{
  position: fixed;      
  top: 55%;             
  left: 50%;            
  transform: translate(-50%, -50%); 
  width: 400px;         
  height: 400px;    
  border-style:solid;    
  border-radius: 8px;
}

#play-button{
  width:300px;
  height:70px;
  font-size:50px;
  position: relative;
  top:425px;
  margin-top: 5px;
}

#play-button:hover{
  cursor: pointer;
}

#gear{
  position:absolute;
  bottom:60px;
  right:50px;
  background-color: white;
  width:25px;
  height:25px;
  transform: scale(2);
  border-radius: 5px;
}

#gear:hover{
  background-color: black;
  color:white;
  cursor: pointer;
}

.settings-modal{
   height: 75%;
  width: 40%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  background-color: white;
  color: navy;
  position: fixed;
  border-radius: 10px;
  border-width: 3px;
  border-style: initial;
  border-color: rgb(44, 44, 255);
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 10px 5px 10px;
  z-index: 1010;
}

.main-menu-button{
   background-color: rgb(1, 1, 97);
  color: white;
  border-radius: 5px;
  padding: 5px 3px 5px 3px;
  width: 200px;
  height: 50px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}

.main-menu-button:hover{
  cursor: pointer;
}