body {
  background-color: navy;
  margin: 0;
  padding: 0;
  display: flex;
}

.header {
  width: 100%;
  height: 15vh;
  background-color: navy;
  text-align: center;
}

#timer {
  margin: 0; 
  margin-top: 15px;
  color: white;
}

#counter {
  color: white;
}

#game-window {
  position: absolute;
  background-color: navy;
  width: 100vw;
  height: 85vh;
  top: 15vh;
}

#first-target {
  width: 50px;
  height: 50px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.target {
  position: relative;
  transform: translate(-50%, -50%);
  margin: 10px;
  border-radius: 50%;
}