<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>404 - Not Found</title>

  <link href="404.css" rel="stylesheet"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>

<body>
  <h1>404 Error - Page does not exist!</h1>
</body>

</html>