html, body {
  background-color: #2b2b2b;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;

  font-optical-sizing: auto;
  font-weight: 400;
}

* {
  font-family: "Roboto Mono", monospace;
}

button {
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #2b2b2b;
  color: #f6e6c8;
  z-index: 1010;
  padding: 20px;
}

.styled-button {
  color: #f6e6c8;
  background-color: #2b2b2b;
  border: 3px solid #f6e6c8;
  padding: 10px 15px;
  cursor: pointer;
}

.styled-button:hover {
  border-color: #F88B3D;
  color: #f66e0d;
  background-color: #543825;
}

.header {
  background-color: #2b2b2b;
  height: 100px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

#timer {
  margin: 0; 
  color: #f6e6c8;
  margin-left: 30px;
  margin-right: 20px;
}

#counter {
  margin: 0;
  color: #f6e6c8;
}

#right-header-items {
  margin-left: auto;
}

#end-game-button {
  padding: 5px 10px;
  font-size: 18px;
  border-width: 3px;
}

#end-game-button:hover {
  border-width: 3px;
}

#gear-icon {
  margin-left: 20px;
  margin-right: 30px;
  background-color: #2b2b2b;
  border: none;
  color: #f6e6c8;
  transform: scale(2)
}

#gear-icon:hover {
  color: #F88B3D;
}

.header-number {
  color: #f66e0d;
  font-size: 27px;
  margin-left: 10px;
  vertical-align: -2px;
}

#game-window {
  flex-grow: 1;
  background-color: #313131;
  margin: 30px;
  margin-top: 0px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.miss-alert {
  position: absolute;
  font-size: 30px;
  color: #f66e0d;
  font-weight: 600;
  margin: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#end-modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

.target {
  position: relative;
  transform: translate(-50%, -50%);
  margin: 10px;
  border-radius: 50%;
  border: none;
  background-color: #f6e6c8;
}

.game-end-modal{
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  padding: 30px;
  z-index: 1010;
}

.end-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.end-modal-container > h1 {
  margin: 0;
}

.end-modal-container button {
  font-size: 20px;
  border-width: 3px;
  margin: 5px; 
}

#game-end-modal-middle-buttons {
  flex-direction: row;
}

#game-end-modal-middle-buttons > button {
  margin-left: 0;
  margin-right: 0;
}

#save-score-modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1015;
}

#save-score-modal {
  border-radius: 5px;
  font-size: 20px;
  z-index: 1020;
}

.save-score-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

#submit-save-score, #cancel-save-score {
  font-size: 20px;
  padding: 5px 10px;
}

#username-input {
  background-color: #414141;
  width: 180px;
  color: #f66e0d;
  font-weight: 600;
  font-size: 18px;
  padding: 2px 5px;
  border: 2px solid rgba(0, 0, 0, 0); /* transparent border to prevent shifting when focusing */
  border-radius: 3px;
}

#username-input:focus {
  border: 2px solid #F88B3D;
  outline: none;
}

.final-score{
  font-size: 50px;
  color: #f66e0d;
}

.start-round-button {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f6e6c8;
  background-color: #313131;
  padding: 10px 15px;
  font-size: 25px;
  border: #f6e6c8 5px solid;
}

.start-round-button:hover{
  border: #F88B3D 5px solid;
  color: #f66e0d;
  background-color: #583D2A;
}

.modal-header{
  font-size:40px;
}

.settings-modal{
  width: 30%;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  padding: 25px;
  padding-top: 0;
  z-index: 1010;
}

#settings-list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.settings-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.settings-label {
  font-weight: 500;
  font-size: 30px;
}

.settings-selection {
  font-size: 25px;
  font-weight: 500;
  color: #f66e0d;
  background-color: #414141;
  border: none;
  border-radius: 3px;
  padding: 2px 4px;
}

#apply-settings-button {
  margin-top: 45px;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 15px;
}

.scoreboard-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  max-height: 75%;
  min-width: 300px;
  min-height: 400px;
  font-size: 10px;
  z-index: 1010;
}

hr {
  background-color: #f6e6c8;
  border: none;
  height: 3px;
  width: 100%;
}

#close-scoreboard-button{
  position: absolute;
  top: 20px;
  right: 20px;
  transform: scale(1.5);
  background-color: #2b2b2b;
  color: #f6e6c8;
  border: none;
  font-weight: 800;
}

#scoreboard-username-input {
  background-color: #414141;
  color: #f66e0d;
  font-size: 20px;
  border: 2px solid rgba(0, 0, 0, 0); /* transparent border to prevent shifting when focusing */
  border-radius: 3px;
  margin-top: 20px;
  width: 150px;
  font-weight: 600;
  padding: 2px 5px;
}

#scoreboard-username-input:focus {
  border: 2px solid #F88B3D;
  outline: none;
}

#scoreboard-display-type-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

#global-button, #personal-button {
  font-weight: 500;
  padding: 5px 10px;
  font-size: 18px;
}

.selected-scoreboard-type {
  border-color: #F88B3D;
  color: #f66e0d;
}

#scoreboard-filters-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
}

#selected-scoreboard-time, #selected-scoreboard-difficulty {
  background-color: #414141;
  color: #f66e0d;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  padding: 3px;
}

#scoreboard-filter-button {
  font-size: 18px;
  padding: 5px 10px;
}

#scoreboard-list-container {
  background-color: #313131;
  width: 100%;
  flex-grow: 1;
  margin-top: 20px;
  border-radius: 12px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.scoreboard-list-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.scoreboard-list-place {
  color: #f66e0d;
}

.scoreboard-list-username {
  margin-left: 15px;
}

.scoreboard-list-score {
  color: #f66e0d;
  margin-right: 15px;
}

.hidden {
  display: none;
}